{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Quiz: {{ assunto.nome }}</title>
    <link rel="stylesheet" href="{% static 'setup/iniciar_quiz.css' %}">
</head>
<body>
    <div class="quiz-container">
        <h1>Quiz de {{ assunto.linguagem.nome }}: {{ assunto.nome }}</h1>
        <p>Pergunta {{ pergunta_numero_atual }} de {{ total_perguntas_quiz }}</p>
        <hr>
    
        <form method="POST" action="{% url 'jogar_quiz' assunto.id %}">
            {% csrf_token %}
            
            <fieldset>
                <legend><h3>{{ pergunta.texto|safe }}</h3></legend>
                
                {% for alternativa in pergunta.alternativas.all %}
                    <div>
                        <input type="radio" name="resposta" value="{{ alternativa.id }}" id="alt_{{ alternativa.id }}" required {% if show_feedback %}disabled{% endif %}>
                        <label for="alt_{{ alternativa.id }}">{{ alternativa.texto|safe }}</label>
                    </div>
                {% endfor %}
            </fieldset>

            <br>
            
            {% if not show_feedback %}
                <button type="submit">Responder</button>
            {% endif %}
        </form>

        {% if show_feedback %}
            <hr>
            <h3>Feedback:</h3>
            {% if resposta_selecionada.correta %}
                <p style="color: green;">Você acertou!</p>
            {% else %}

                <p style="color: red;">Você errou! A resposta correta era: "{{ resposta_correta.texto|safe }}"</p>
            {% endif %}
    
            {% if pergunta.explicacao %}
                <p><strong>Explicação:</strong> {{ pergunta.explicacao|safe }}</p>
            {% endif %}
            
            <a href="{% url 'jogar_quiz' assunto.id %}"><button>Prosseguir</button></a>
        {% endif %}
    </div>
</body>
</html>