{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Resultado do Quiz</title>
    <link rel="stylesheet" href="{% static 'setup/resultado_quiz.css' %}">
</head>
<body>
    <div class="resultado-container">
        <h1>Resultado do Quiz de {{ assunto.nome }}</h1>

        <h2>
            Você acertou {{ score }} de {{ total_perguntas }} perguntas!
        </h2>

        {% if score == total_perguntas %}
            <p class="feedback-perfeito">Parabéns, você gabaritou!</p>
        {% elif acertou_mais_da_metade %}
            <p class="feedback-bom">Muito bem! Continue praticando.</p>
        {% else %}
            <p class="feedback-pouco">Não desanime! Estudar mais um pouco é o caminho.</p>
        {% endif %}

        <br>
        {% if revisao_data %}
        <details style="margin-top: 25px; border: 1px solid #ccc; padding: 10px; text-align: left;">
            <summary style="cursor: pointer; font-weight: bold;">
                Revisar meus erros ▼
            </summary>
            
            <div style="margin-top: 15px;">
                {% for item in revisao_data %}
                    <div style="border-top: 1px solid #eee; padding-top: 10px; margin-top: 10px;">
                        <p><strong>Pergunta:</strong> {{ item.pergunta_texto|safe }}</p>
                        
                        <p style="color: red;">
                            <strong>Sua Resposta:</strong> {{ item.resposta_selecionada_texto|safe }}
                        </p>

                        <p style="color: green;">
                            <strong>Resposta Correta:</strong> {{ item.resposta_correta_texto|safe }}
                        </p>

                        {% if item.explicacao %}
                            <p><em><strong>Explicação:</strong> {{ item.explicacao|safe }}</em></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </details>
    {% endif %}
        <br>
    <a href="{% url 'configurar_quiz' %}" class="btn btn-primary">Tentar outro quiz</a>
    
    <a href="{% url 'ranking_quiz' assunto.id dificuldade.id %}" class="btn btn-outline-primary" style="margin-left: 10px;">Ver Ranking</a>
    </div>
</body>
</html>